

@font-face
{
    font-family: 'ModernH-Bold';
    src: local('ModernH-Bold'),url('ModernHBold.ttf') format('opentype');
}
@font-face
{
    font-family: 'ModernH-Medium';
    src: local('ModernH-Medium'),url('ModernHMedium.ttf') format('opentype');
}


h1
{
    font-family: 'ModernH-Bold';
    font-size: 70px;
    font-weight: normal;
}





